/*
Red: #d7092a
bg: #d2d2d2
line: #505050
*/

* {
  margin: 0;
}

body,
html {
  height: 100%;
}

#etch {
  width: 66%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  visibility: hidden;
  display: flex;
}

.pixel {
  visibility: visible;
  background-color: #d2d2d2;
  height: 5px;
  width: 5px;
}

.pixel:hover {
  background-color: gray;
}